<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= job.errors.count %> erro(s) foram encontrados:</h5>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :user_id %>
    <div>
    <%= form.collection_select :user_id, User.order(:name), :id, :identify, {:prompt=>true}, {class: 'custom-select'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :protocol %>
    <%= form.text_field :protocol, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_zipcode %>
    <%= form.text_field :address_zipcode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_number %>
    <%= form.text_field :address_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address_complement %>
    <%= form.text_field :address_complement, class: 'form-control' %>
  </div>

  <div class="form-group form-dates">
    <div>
      <%= form.label :starts_at %>
    </div>
    <%= form.date_select :starts_at, {}, {class: 'custom-select'} %>
  </div>

  <div class="form-group form-dates">
    <div>
    <%= form.label :ends_at %>
    </div>
    <%= form.date_select :ends_at, {}, {class: 'custom-select'} %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', rows: 10 %>
  </div>

  <div class="btn-group" role="group" aria-label="Ações">
    <%= form.submit 'Salvar', class: 'btn btn-primary active' %>
    <%= link_to 'Voltar para lista', jobs_path, class: 'btn btn-primary'  %>
  </div>
<% end %>
