<p id="notice"><%= notice %></p>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h3 id="tables">Chamados</h3>
      </div>

      <div class="bs-component">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Responsável</th>
              <th scope="col">Protocolo</th>
              <th scope="col">Endereço</th>
              <th scope="col">Início</th>
              <th scope="col">Término</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= job.user.identify %></td>
                <td><%= job.protocol %></td>
                <td><%= job.full_address %></td>
                <td><%= l job.starts_at %></td>
                <td><%= l job.ends_at %></td>
                <td>
                  <div class="btn-group" role="group" aria-label="Ações">
                    <%= link_to 'Editar', edit_job_path(job), class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Apagar', job, method: :delete, data: { confirm: 'Deseja realmente remover este dado?' }, class: 'btn btn-danger btn-sm' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Criar chamado', new_job_path, class: 'btn btn-primary' %>