<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @job.protocol %>
</p>

<p>
  <strong>Address zipcode:</strong>
  <%= @job.address_zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @job.address_number %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @job.address_complement %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @job.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @job.ends_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
