<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= user.errors.count %> erro(s) foram encontrados:</h5>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="btn-group" role="group" aria-label="Ações">
    <%= form.submit 'Salvar', class: 'btn btn-primary active' %>
    <%= link_to 'Voltar para lista', users_path, class: 'btn btn-primary'  %>
  </div>
<% end %>
