<p id="notice"><%= notice %></p>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h3 id="tables">Responsáveis</h3>
      </div>

      <div class="bs-component">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td>
                  <div class="btn-group" role="group" aria-label="Ações">
                    <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Deseja realmente remover este dado?' }, class: 'btn btn-danger btn-sm' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Criar responsável', new_user_path, class: 'btn btn-primary' %>
